@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

.section-slider,
.section-header,
.section-services,
.section-recent,
.about-header,
.section-about,
.section-contact,
.weddings-year,
.section-weddings-2021,
.section-weddings-2020,
.section-engagements-2021,
.section-engagements-2020,
.wedding-cards,
.section-gallery {
  animation: transitionIn 1s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(-20rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-family: "Playfair Display", serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: rgba(255, 232, 188, 0.531);
  padding: 0;
  /* position: relative; */
  max-width: 180rem;
  margin: 0 auto;
  /* overflow-y: hidden; */
}

::selection {
  background-color: rgba(93, 199, 248, 0.394);
}

/* ******NAV BAR****** */

header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

header .nav-bar {
  position: relative;
  width: 100%;
  max-width: 180rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  transition: all 0.3s ease;
}

.logo {
  height: 5.5rem;
  width: 8.4rem;
}

.nav-logo {
  margin-right: 16rem;
}

.nav-bar {
  background-color: rgba(238, 238, 238, 0.515);
}

.navigation .nav-list a {
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  color: black;
  letter-spacing: 0.2rem;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list-left {
  justify-self: flex-start;
}

.nav-list-right {
  justify-self: flex-end;
}

.about-header {
  padding: 8rem 0 8rem 0;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
}

.section-gallery {
  display: block;
  justify-content: center;
}

.wedding-gallery {
  display: grid;
  width: 137rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.4rem;
  row-gap: 0.4rem;
  justify-items: center;
  margin: 0 auto;
}

.gallery-photo-portrait {
  height: 48rem;
  width: 32rem;
}

.gallery-photo-landscape {
  height: 48rem;
  width: 72rem;
}
