@media (max-width: 300em) {
  .mobile-logo {
    display: none;
  }
}

@media (max-width: 75em) {
  .wedding-cards {
    display: grid;
    width: auto;
    margin-top: -2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 48rem);
    justify-items: center;
    column-gap: 5%;
    row-gap: 2%;
  }

  .mobile-logo {
    display: none;
  }
}

@media (max-width: 62.5em) {
  .section-about {
    flex-direction: column;
  }

  .about-text-box {
    margin: auto;
    width: 90%;
  }

  .about-photo,
  .about-img-box {
    margin: auto;
    padding-bottom: 2rem;
  }

  .secondary-title {
    text-align: center;
  }

  .section-services {
    padding-bottom: 0;
  }

  .contact-image-box {
    display: none;
  }

  .top-container {
    display: block;
    margin: auto;
  }

  .contact-form-box {
    padding: 2rem;
    margin: 0 auto;
    height: 64rem;
    width: 44rem;
  }

  .sarah-card,
  .val-card,
  .madison-card,
  .jared-card {
    margin-top: 0;
  }

  .recent-cards {
    grid-template-columns: 1fr 1fr;
    row-gap: 8rem;
  }

  .gabrhael-card {
    grid-column: 1;
    grid-row: 1;
  }

  .sarah-card {
    grid-column: 2;
    grid-row: 1;
  }

  .val-card {
    grid-column: 1;
    grid-row: 2;
  }

  .karissa-card {
    grid-column: 2;
    grid-row: 2;
  }

  .madison-card {
    grid-column: 1;
    grid-row: 3;
  }

  .jared-card {
    grid-column: 2;
    grid-row: 3;
  }

  header {
    width: 100%;
    height: 7rem;
    background-color: rgba(238, 238, 238, 0.515);
  }

  .mobile-logo {
    position: absolute;
    display: block;
    margin: 0.7rem 0 0 1rem;
    height: 5.5rem;
    width: 8.4rem;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .nav-bar {
    position: absolute;
    background-color: rgba(238, 238, 238, 0.734);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* flex-direction: column; */
  }

  header .nav-bar,
  .logo {
    display: block;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
  }

  .nav-open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .logo {
    display: none;
  }

  .nav-open .close-icon {
    display: block;
  }

  .nav-open .open-icon {
    display: none;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list-left {
    margin-bottom: 4rem;
    margin-top: 40vh;
  }

  .nav-list-left,
  .nav-list-right {
    align-items: center;
  }

  .navigation .nav-list a {
    font-size: 3rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .section-header {
    margin: 3rem 0 3rem 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .section-services {
    height: 200vh;
    width: auto;
  }

  .card.show {
    opacity: 0.9;
  }

  .wedding-card {
    margin: 12rem 0 4rem 0;
  }

  .engagement-card {
    margin: 4rem;
  }

  .destination-card {
    margin: 4rem;
  }

  .card {
    /* margin-top: 12rem; */
    height: 48rem;
    width: 32rem;
  }
}

@media (max-width: 48em) {
  .section-services {
    height: 175rem;
    width: auto;
  }

  .wedding-cards {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: 320rem;
    width: auto;
    align-items: center;
    /* column-gap: 2%; */
    /* row-gap: 8rem; */
  }

  #section2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: 380rem;
    width: auto;
    align-items: center;
    /* column-gap: 2%; */
    row-gap: 6rem;
  }

  .gallery-card {
    margin-top: 0;
    height: 48rem;
    width: 32rem;
    border: none;
  }

  .section-weddings-2021 {
    background: url(/img/Erin-Jason-Gallery/erin-jason-10.jpg) no-repeat
      left/cover;
    padding-top: 12rem;
    height: 280rem;
  }

  .section-weddings-2020 {
    display: block;
    background: url(/img/Nadya-Nick-Gallery/nadya-nick-10.webp) no-repeat
      bottom/cover;
    padding-bottom: 20rem;
    position: relative;
    background-attachment: fixed;
    background-size: 300%;
  }

  .section-weddings-2020 .wedding-cards {
    padding-top: 38rem;
  }

  .weddings-year {
    position: static;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-90%);
    color: rgba(51, 51, 51, 0.69);
    animation: all 0.2s ease-out;
  }

  #weddings-year-2020 {
    position: sticky;
    transform: translateY(40%) !important;
    color: rgba(238, 238, 238, 0.509);
  }

  #weddings-year-2021 {
    color: rgba(238, 238, 238, 0.509) !important;
  }

  .section-engagements-2021 {
    background: url(/img/Sarah-Furkan-Gallery/sarah-furkan-9.jpg) no-repeat
      center/cover;
    padding-top: 12rem;
    height: 280rem;
  }

  .section-engagements-2020 .wedding-cards {
    padding-top: 38rem;
  }
}

@media (max-width: 38em) {
  .about-header {
    padding-bottom: 2.4rem;
  }

  .top-container {
    padding: 0;
  }

  .contact-form-box {
    width: 90%;
    justify-content: center;
  }

  .contact-form {
  }

  textarea {
    width: 60%;
  }

  #message {
    width: 100%;
  }

  #full-name,
  #email,
  #wedding-date {
    width: 70%;
  }
}

@media (max-width: 42.5em) {
  .slide:first-child {
    background: url(/img/MiKall-Jacob-Gallery/mikall-jacob-1.webp) no-repeat 63% /
      cover;
  }

  .recent-card {
    height: 30rem;
    width: 30rem;
    border: none;
  }

  .gabrhael-card {
    background: url(/img/Gabrhael-Eric-Gallery/gabrhael-eric-3.webp) no-repeat
      bottom/cover;
  }

  .val-card {
    background: url(/img/Val-Esai-Gallery/val-esai-2.jpeg) no-repeat
      bottom/cover;
  }

  .karissa-card {
    background: url(/img/Karissa-Danny-Engagement/karissa-danny-5.webp)
      no-repeat top/cover;
  }

  .madison-card {
    background: url(/img/Madison-Sam-Engagement/21.jpeg) no-repeat top/cover;
  }

  .jared-card {
    background: url(/img/Jared-Wyatt-Gallery/jared-wyatt-2.jpg) no-repeat
      top/cover;
  }
}

@media (max-width: 38em) {
  .section-recent {
    background: url(/img/Emily-Matt-Engagement/emily-matt-1.jpg) no-repeat
      bottom/cover;
    padding: 12rem 0 12rem 0;
  }

  .recent-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .recent-card {
    margin-top: 5rem;
  }

  .recent-card.show {
    transform: translateY(0);
    opacity: 0.8;
  }

  .recent-card:hover {
    opacity: 1;
  }

  .wedding-gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* column-gap: 0.4rem;
    row-gap: 0.4rem; */
    justify-items: center;
  }

  .gallery-photo-landscape,
  .gallery-photo-portrait {
    width: 48rem;
    height: auto;
    margin: auto;
  }

  .about-header {
    font-size: 5rem;
    margin: auto;
  }
}
