@media (max-width: 62.5em) {
  .sarah-card,
  .val-card,
  .madison-card,
  .jared-card {
    margin-top: 0;
  }

  .recent-cards {
    grid-template-columns: 1fr 1fr;
    row-gap: 8rem;
  }

  .gabrhael-card {
    grid-column: 1;
    grid-row: 1;
  }

  .sarah-card {
    grid-column: 2;
    grid-row: 1;
  }

  .val-card {
    grid-column: 1;
    grid-row: 2;
  }

  .karissa-card {
    grid-column: 2;
    grid-row: 2;
  }

  .madison-card {
    grid-column: 1;
    grid-row: 3;
  }

  .jared-card {
    grid-column: 2;
    grid-row: 3;
  }

  header {
    width: 100%;
    height: 7rem;
    background-color: rgba(238, 238, 238, 0.515);
  }

  .mobile-logo {
    position: absolute;
    display: block;
    margin: 0.7rem 0 0 1rem;
    height: 5.5rem;
    width: 8.4rem;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .nav-bar {
    position: absolute;
    background-color: rgba(238, 238, 238, 0.734);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* flex-direction: column; */
  }

  header .nav-bar {
    display: block;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
  }

  .nav-open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .logo {
    display: none;
  }

  .nav-open .close-icon {
    display: block;
  }

  .nav-open .open-icon {
    display: none;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list-left {
    margin-bottom: 4rem;
    margin-top: 50vh;
  }

  .nav-list-left,
  .nav-list-right {
    align-items: center;
  }

  .navigation .nav-list a {
    font-size: 3rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .section-header {
    margin: 3rem 0 3rem 0;
  }
  .cards {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 5%;
  }
  .section-services {
    height: 200vh;
    width: auto;
  }
  .card {
    margin-top: 12rem;
    height: 48rem;
    width: 32rem;
  }
  .cards {
    align-items: center;
  }
}

@media (max-width: 30em) {
  .recent-card {
    height: 30rem;
    width: 30rem;
    border: none;
  }

  .gabrhael-card {
    background: url(/img/Gabrhael-Eric-Gallery/gabrhael-eric-3.webp) no-repeat
      bottom/cover;
  }

  .val-card {
    background: url(/img/Val-Esai-Gallery/val-esai-2.jpeg) no-repeat
      bottom/cover;
  }

  .karissa-card {
    background: url(/img/Karissa-Danny-Engagement/karissa-danny-5.webp)
      no-repeat top/cover;
  }

  .madison-card {
    background: url(/img/Madison-Sam-Engagement/21.jpeg) no-repeat top/cover;
  }

  .jared-card {
    background: url(/img/Jared-Wyatt-Gallery/jared-wyatt-2.jpg) no-repeat
      top/cover;
  }
}

@media (max-width: 27em) {
  .section-recent {
    background: url(/img/Emily-Matt-Engagement/46.jpeg) no-repeat bottom/cover;
    padding: 12rem 0 12rem 0;
  }

  .recent-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .recent-card {
    margin-top: 5rem;
  }
}
