@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

.section-slider,
.section-header,
.section-services,
.section-recent,
.about-header,
.section-about,
.section-contact,
.weddings-year,
.section-weddings-2021,
.section-weddings-2020,
.section-engagements-2021,
.section-engagements-2020,
.wedding-cards,
.section-gallery {
  animation: transitionIn 1s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(-20rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Playfair Display", serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: rgba(255, 232, 188, 0.531);
  padding: 0;
  /* position: relative; */
  max-width: 180rem;
  margin: 0 auto;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

::selection {
  background-color: rgba(93, 199, 248, 0.394);
}

/* ******NAV BAR****** */

header {
  position: absolute;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

header .nav-bar {
  position: relative;
  width: 100%;
  max-width: 180rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  transition: all 0.3s ease;
}

.logo {
  height: 5.5rem;
  width: 8.4rem;
}

.nav-logo {
  margin-right: 16rem;
}

.mobile-logo {
  height: 5.5rem;
  width: 8.4rem;
  display: none;
}

.nav-bar {
  background-color: rgba(238, 238, 238, 0.515);
}

.navigation .nav-list a {
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  color: black;
  letter-spacing: 0.2rem;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list-left {
  justify-self: flex-start;
}

.nav-list-right {
  justify-self: flex-end;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}

.mobile-nav-icon {
  height: 4rem;
  width: 4rem;
  color: #333;
}

.close-icon {
  display: none;
}

/* ******SLIDER****** */

.section-slider {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.slider-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.prev,
.next {
  height: 4rem;
  width: 4rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.366);
  border-radius: 50%;
  background: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.366);
  outline: none;
  transition: all 0.3s;
}

.prev:hover,
.next:hover {
  color: #333;
  border-color: #333;
  /* background-color: rgba(0, 0, 0, 0.175); */
}

.next {
  position: absolute;
  top: 50%;
  right: 1.2rem;
}

.prev {
  position: absolute;
  top: 50%;
  left: 1.2rem;
}

.slide:first-child {
  background: url(/img/MiKall-Jacob-Gallery/mikall-jacob-1.webp) no-repeat
    bottom/cover;
}

.slide:nth-child(2) {
  background: url(/img/Erin-Jason-Gallery/erin-jason-1.webp) no-repeat
    bottom/cover;
}

.slide:nth-child(3) {
  background: url(/img/Madison-Sam-Gallery/madison-sam-4.webp) no-repeat
    bottom/cover;
}

.slide:nth-child(4) {
  background: url(/img/Raechel-Dan-Gallery/raechel-dan-1.webp) no-repeat
    top/cover;
}

.slide:nth-child(5) {
  background: url(/img/Nadya-Nick-Gallery/nadya-nick-3.webp) no-repeat
    bottom/cover;
}

.slide:nth-child(6) {
  background: url(/img/Karissa-Cody-Gallery/karissa-cody-2.webp) no-repeat
    center/cover;
}

.slide:nth-child(7) {
  background: url(/img/Madison-Sam-Gallery/madison-sam-2.webp) no-repeat
    bottom/cover;
}

.slide:nth-child(8) {
  background: url(/img/Raechel-Dan-Gallery/raechel-dan-3.webp) no-repeat
    center/cover;
}

/* ******SERVICES****** */

.section-header {
  margin: 6rem 0 6rem 0;
  text-align: center;
  font-size: 6rem;
  font-weight: 500;
}

.section-services {
  background: url(/img/Sarah-Furkan-Gallery/sarah-furkan-3.webp) no-repeat
    bottom/cover;
  padding-bottom: 20rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.card {
  margin-top: 32rem;
  height: 48rem;
  width: 32rem;
  border: 1rem solid rgba(238, 238, 238, 0.655);
  color: black;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.gallery-card {
  margin-top: 32rem;
  /* margin-bottom: 2rem; */
  height: 48rem;
  width: 32rem;
  border: 1rem solid rgba(238, 238, 238, 0.655);
  color: black;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.card.show {
  transform: translateY(-5rem);
  opacity: 0.6;
}

.card:hover {
  opacity: 1;
  color: #333;
}

.wedding-card {
  background: url(/img/MiKall-Jacob-Gallery/mikall-jacob-4.webp) no-repeat
    center/cover;
}

.engagement-card {
  background: url(/img/Heather-Mike-Engagement/heather-mike-2.webp) no-repeat
    center/cover;
}

.destination-card {
  background: url(/img/Karissa-Cody-Gallery/karissa-cody-5.webp) no-repeat
    center/cover;
}

.card-text {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.655);
  padding: 2rem 0 2rem 0;
}

/* ******RECENT WORK****** */

.section-recent {
  background: url(/img/Heather-Mike-Engagement/heather-mike-1.webp) no-repeat
    bottom/cover;
  padding: 12rem 0 12rem 0;
}

.recent-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  justify-items: center;
  /* gap: 9%; */
}

.recent-card {
  height: 48rem;
  width: 32rem;
  border: 1rem solid rgba(238, 238, 238, 0.655);
  color: black;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  opacity: 0;
  text-decoration: none;
}

.recent-card.show {
  transform: translateY(-5rem);
  opacity: 0.8;
}

.recent-card:hover {
  opacity: 1;
  color: #333;
}

.gabrhael-card {
  background: url(/img/Gabrhael-Eric-Gallery/gabrhael-eric-3.webp) no-repeat
    center/cover;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.sarah-card {
  background: url(/img/Sarah-Furkan-Gallery/sarah-furkan-2.jpeg) no-repeat
    center/cover;
  grid-column: 2;
  grid-row: 1;
  margin-top: 10rem;
}

.val-card {
  background: url(/img/Val-Esai-Gallery/val-esai-2.jpeg) no-repeat center/cover;
  grid-column: 3;
  grid-row: 1;
  margin-top: 22rem;
}

.karissa-card {
  background: url(/img/Karissa-Danny-Engagement/karissa-danny-5.webp) no-repeat
    center/cover;
  grid-column: 1;
  grid-row: 2;
}

.madison-card {
  background: url(/img/Madison-Sam-Engagement/21.jpeg) no-repeat center/cover;
  grid-column: 2;
  grid-row: 2;
  margin-top: 10rem;
}

.jared-card {
  background: url(/img/Jared-Wyatt-Gallery/jared-wyatt-2.jpg) no-repeat
    center/cover;
  grid-column: 3;
  grid-row: 2;
  margin-top: 22rem;
}
/* ******ABOUT****** */

.about-header {
  padding: 8rem 0 8rem 0;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
}

.section-about {
  display: flex;
  justify-content: space-around;
}

.about-photo {
  height: 60rem;
  width: 40rem;
}

.about-text-box {
  /* justify-self: flex-end; */
  width: 50%;
}

.secondary-title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.secondary-paragraph {
  margin-bottom: 2.8rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
}

/* ******CONTACT****** */

.top-container {
  padding: 0 8rem 4rem 8rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin: auto;
}

.contact-text-box {
  /* width: 40%; */
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.contact-image-box {
  height: 64rem;
  width: auto;
  align-self: center;
  margin: auto;
  overflow: hidden;
}

.contact-form-box {
  background-color: rgb(255, 245, 227);
  padding: 3rem 3rem 3rem 3rem;
  box-shadow: 0 1rem 1.5rem 0.2rem rgba(116, 104, 68, 0.193);
}

.contact-form {
  display: block;
  color: #333;
}

.contact-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(170, 170, 170, 0.521);
}

.contact-form label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.2rem 0 1.2rem 0;
}

.contact-form input {
  width: 60%;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
}

.contact-form input::placeholder {
  color: #aaa;
}

textarea {
  font-family: inherit;
  resize: vertical;
  width: 40rem;
  min-height: 15rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
}

.message label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.contact-btn[type="submit"] {
  font-family: inherit;
  height: 4rem;
  width: 12rem;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #eee;
  grid-column: 1;
  grid-row: 3;
}

#status {
  margin: 0 auto;
  width: 40rem;
  padding: 1.6rem 1rem 1.6rem 1rem;
  text-align: center;
  font-size: 1.6rem;
}

/* ******WEDDINGS PAGE****** */

.weddings-year {
  font-size: 9rem;
  color: rgba(238, 238, 238, 0.509);
  font-weight: 300;
  letter-spacing: 0.3rem;
  position: absolute;
  left: 43.6%;
  top: 9.4%;
  z-index: 2;
}

.section-weddings-2021 {
  display: block;
  background: url(/img/Sarah-Furkan-Gallery/sarah-furkan-6.webp) no-repeat
    bottom/cover;
  padding-bottom: 20rem;
  position: relative;
}

.section-weddings-2020 {
  display: block;
  background: url(/img/Nadya-Nick-Gallery/nadya-nick-10.webp) no-repeat
    bottom/cover;
  padding-bottom: 20rem;
  position: relative;
  background-attachment: fixed;
}

.wedding-cards {
  margin: 0 auto;
  display: grid;
  width: 112rem;
  margin-top: -2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 48rem);
  justify-items: center;
  column-gap: 5%;
  row-gap: 5%;
}

.weddings-2021 {
  height: 48rem;
  width: 32rem;
  border: 1rem solid rgba(238, 238, 238, 0.655);
  color: black;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.weddings-2020 {
  height: 48rem;
  width: 32rem;
  border: 1rem solid rgba(238, 238, 238, 0.655);
  color: black;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.weddings-2020.show {
  transform: translateY(-5rem);
  opacity: 0.6;
}

.weddings-2020:hover {
  opacity: 1;
  color: #333;
}

.weddings-2021 {
  background: url(/img/Sarah-Furkan-Gallery/sarah-furkan-7.jpeg) no-repeat
    center/cover;
}

.weddings-2021:nth-child(2) {
  background: url(/img/Brianne-Jake-Gallery/brianne-jake-1.jpeg) no-repeat
    center/cover;
}

.weddings-2021:nth-child(3) {
  background: url(/img/Gabrhael-Eric-Gallery/gabrhael-eric-4.jpeg) no-repeat
    center/cover;
}

.weddings-2021:nth-child(4) {
  background: url(/img/Bryn-Justin-Gallery/bryn-justin-3.webp) no-repeat
    center/cover;
}

.weddings-2021:nth-child(5) {
  background: url(/img/Angel-Keenan-Gallery/angel-keenan-3.jpeg) no-repeat
    center/cover;
}

.weddings-2021:nth-child(6) {
  background: url(/img/Erin-Jason-Gallery/erin-jason-6.jpeg) no-repeat
    center/cover;
}

.weddings-2020 {
  background: url(/img/Raechel-Dan-Gallery/raechel-dan-5.jpeg) no-repeat
    center/cover;
}

.weddings-2020:nth-child(2) {
  background: url(/img/Val-Esai-Gallery/val-esai-4.jpeg) no-repeat center/cover;
}

.weddings-2020:nth-child(3) {
  background: url(/img/Nadya-Nick-Gallery/nadya-nick-5.jpeg) no-repeat
    center/cover;
}

.weddings-2020:nth-child(4) {
  background: url(/img/Karissa-Cody-Gallery/karissa-cody-3.jpeg) no-repeat
    center/cover;
}

.weddings-2020:nth-child(5) {
  background: url(/img/Madison-Sam-Gallery/madison-sam-7.jpeg) no-repeat
    center/cover;
}

.weddings-2020:nth-child(6) {
  background: url(/img/MiKall-Jacob-Gallery/mikall-jacob-6.webp) no-repeat
    center/cover;
}

.card-text {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.655);
  padding: 2rem 0 2rem 0;
}

/* ******WEDDING GALLERIES****** */

.engagements-2021 {
  height: 48rem;
  width: 32rem;
  border: 1rem solid rgba(238, 238, 238, 0.655);
  color: black;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.engagements-2020 {
  height: 48rem;
  width: 32rem;
  border: 1rem solid rgba(238, 238, 238, 0.655);
  color: black;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.section-engagements-2021 {
  display: block;
  background: url(/img/Erin-Jason-Gallery/erin-jason-10.webp) no-repeat
    bottom/cover;
  padding-bottom: 20rem;
  position: relative;
}

.section-engagements-2020 {
  display: block;
  background: url(/img/Alexa-Josh-Gallery/alexa-josh-1.jpeg) no-repeat
    bottom/cover;
  padding-bottom: 20rem;
  position: relative;
  background-attachment: fixed;
}

/* ******ENGAGEMENTS****** */

.engagements-2021 {
  background: url(/img/Erin-Jason-Engagement/erin-jason-9.jpeg) no-repeat
    center/cover;
}

.engagements-2021:nth-child(2) {
  background: url(/img/Karissa-Danny-Engagement/karissa-danny-5.webp) no-repeat
    center/cover;
}

.engagements-2021:nth-child(3) {
  background: url(/img/Claire-Jake-Engagement/claire-jake-6.webp) no-repeat
    center/cover;
}

.engagements-2021:nth-child(4) {
  background: url(/img/Madison-Sam-Engagement/madison-sam-8.jpeg) no-repeat
    center/cover;
}

.engagements-2021:nth-child(5) {
  background: url(/img/Heather-Mike-Engagement/39.jpeg) no-repeat center/cover;
}

.engagements-2021:nth-child(6) {
  background: url(/img/Lauren-Tim-Engagement/21.jpeg) no-repeat center/cover;
}

.engagements-2020 {
  background: url(/img/Madi-Ashwin-Engagement/13.jpeg) no-repeat center/cover;
}

.engagements-2020:nth-child(2) {
  background: url(/img/Emily-Matt-Engagement/46.jpeg) no-repeat center/cover;
}

.engagements-2020:nth-child(3) {
  background: url(/img/Samantha-Derek-Engagement/22.jpeg) no-repeat center/cover;
}

.engagements-2020:nth-child(4) {
  background: url(/img/Jared-Wyatt-Gallery/jared-wyatt-2.jpg) no-repeat
    center/cover;
}

.engagements-2020:nth-child(5) {
  background: url(/img/Karissa-Cody-Engagement/34.jpeg) no-repeat center/cover;
}

.engagements-2020:nth-child(6) {
  background: url(/img/MiKall-Jacob-Gallery/mikall-jacob-6.webp) no-repeat
    center/cover;
}
