* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-family: "Playfair Display", serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: rgba(255, 232, 188, 0.531);
  padding: 0;
  /* position: relative; */
  max-width: 180rem;
  margin: 0 auto;
  /* overflow-y: hidden; */
}

::selection {
  background-color: rgba(93, 199, 248, 0.394);
}

/* ******NAV BAR****** */

header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

header .nav-bar {
  position: relative;
  width: 100%;
  max-width: 180rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  transition: all 0.3s ease;
}

.logo {
  height: 5.5rem;
  width: auto;
}

.nav-logo {
  margin-right: 16rem;
}

.nav-bar {
  background-color: rgba(238, 238, 238, 0.515);
}

.navigation .nav-list a {
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  color: black;
  letter-spacing: 0.2rem;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list-left {
  justify-self: flex-start;
}

.nav-list-right {
  justify-self: flex-end;
}

/* ******SLIDER****** */

.section-slider {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.slider-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.prev,
.next {
  height: 4rem;
  width: 4rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.366);
  border-radius: 50%;
  background: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.366);
  outline: none;
  transition: all 0.3s;
}

.prev:hover,
.next:hover {
  color: #333;
  border-color: #333;
  /* background-color: rgba(0, 0, 0, 0.175); */
}

.next {
  position: absolute;
  top: 50%;
  right: 1.2rem;
}

.prev {
  position: absolute;
  top: 50%;
  left: 1.2rem;
}

.slide:first-child {
  background: url(/img/mikall-jacob-1.jpeg) no-repeat bottom/cover;
}

.slide:nth-child(2) {
  background: url(/img/erin-jason-1.jpeg) no-repeat bottom/cover;
}

.slide:nth-child(3) {
  background: url(/img/madison-sam-4.jpeg) no-repeat bottom/cover;
}

.slide:nth-child(4) {
  background: url(/img/raechel-dan-1.jpeg) no-repeat top/cover;
}

.slide:nth-child(5) {
  background: url(/img/nadya-nick-3.jpeg) no-repeat bottom/cover;
}

.slide:nth-child(6) {
  background: url(/img/karissa-cody-2.jpeg) no-repeat center/cover;
}

.slide:nth-child(7) {
  background: url(/img/madison-sam-2.jpeg) no-repeat bottom/cover;
}

/* ******SERVICES****** */

.section-header {
  margin-bottom: 8rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
}

.section-services {
  background: url(/img/sarah-furkan-3.jpg) no-repeat bottom/cover;
  margin-bottom: 8rem;
  padding-bottom: 20rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.card {
  margin-top: 32rem;
  height: 48rem;
  width: 32rem;
  border: 1rem solid rgba(238, 238, 238, 0.655);
  color: black;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  opacity: 1;
  color: #333;
}

.wedding-card {
  background: url(/img/mikall-jacob-4.jpg) no-repeat center/cover;
}

.engagement-card {
  background: url(/img/heather-mike-2.jpeg) no-repeat center/cover;
}

.destination-card {
  background: url(/img/karissa-cody-5.jpeg) no-repeat center/cover;
}

.card-text {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.655);
  padding: 2rem 0 2rem 0;
}

/* ******RECENT WORK****** */

.section-recent {
  background: url(/img/heather-mike-1.jpeg) no-repeat bottom/cover;
  margin-bottom: 8rem;
  padding: 12rem 0 12rem 0;
}

.recent-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  justify-items: center;
  /* gap: 9%; */
}

.recent-card {
  /* margin-top: 12rem; */
  height: 48rem;
  width: 32rem;
  border: 1rem solid rgba(238, 238, 238, 0.655);
  color: black;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.recent-card:hover {
  opacity: 1;
  color: #333;
}

/* .landscape-card {
  height: 32rem;
  width: 48rem;
  border: 1rem solid rgba(238, 238, 238, 0.655);
  color: black;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.landscape-card:hover {
  opacity: 1;
  color: #333;
} */

.gabrhael-card {
  background: url(/img/gabrhael-eric-3.jpeg) no-repeat center/cover;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.sarah-card {
  background: url(/img/sarah-furkan-2.jpeg) no-repeat center/cover;
  grid-column: 2;
  grid-row: 1;
  margin-top: 10rem;
}

.val-card {
  background: url(/img/val-esai-2.jpeg) no-repeat center/cover;
  grid-column: 3;
  grid-row: 1;
  margin-top: 22rem;
}

.karissa-card {
  background: url(/img/karissa-danny-2.jpeg) no-repeat center/cover;
  grid-column: 1;
  grid-row: 2;
}

.michelle-card {
  background: url(/img/michelle-david-4.jpg) no-repeat center/cover;
  grid-column: 2;
  grid-row: 2;
  margin-top: 10rem;
}

.jared-card {
  background: url(/img/jared-wyatt-1.jpeg) no-repeat center/cover;
  grid-column: 3;
  grid-row: 2;
  margin-top: 22rem;
}
/* ******ABOUT****** */

.about-header {
  margin: 8rem 0 8rem 0;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
}

.section-about {
  display: flex;
  justify-content: space-between;
}

.about-photo {
  height: 48rem;
  width: 32rem;
}

.about-title {
  font-size: 2.4rem;
}

.about-paragraph {
  width: 60%;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
}
